@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

html{
    font-family: 'Rajdhani';
}

td{
    width: 200px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th#ranking{
    width: 30px;
}