@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    font-family: 'Montserrat';
    text-align: center;
    --mode-bg: #FFFFFF;
    --mode-text: black;
    color: var(--mode-text);
    background-color: var(--mode-bg);
}

button{
    font-family: 'Montserrat';
    font-size: 25px;
    background: gray;
    border-radius: 10px;
    border-color: darkgray;
    /* height: 100px; */
    min-height: 100px;
    /* width: 1000px; */
    width: 70%;
    color: var(--mode-text);
}

button:hover{
    border-color: gray;
    cursor: pointer;
}

div#results label{
    text-align: start;
}

select{
    font-family: 'Montserrat';
    color: var(--mode-text);
    background-color: var(--mode-bg);
}

option{
    color: var(--mode-text);
    font-family: 'Montserrat';
    text-align: start;
}

optgroup#option-subject{
    text-align: center;
    font-size: larger;
}

h1#username{
    position: relative;
    top: 30px;
    left: 00px;
    text-align: center;
    font-size: 30px;
}

button#signOut{
    width: 200px;
    height: 75px;
    position: relative;
    top: 30px;
    right: 0px;
    background-color: var(--mode-bg);
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 16px 32px;
    transition-duration: .1s;
    font-family: 'Montserrat';
    font-size: 15px;
}

button#signOut:hover{
    background-color: #555555;
    color: white;
    cursor: pointer;
}

button#leaderboard{
    text-align: center;
    width: 200px;
    height: 75px;
    position: relative;
    top: 30px;
    right: 0px;
    background-color: var(--mode-bg);
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 16px 32px;
    transition-duration: .1s;
    font-family: 'Montserrat';
    font-size: 15px;
}

button#leaderboard:hover{
    background-color: #555555;
    color: white;
    cursor: pointer;
}

button#submitQuestion{
    width: 200px;
    height: 75px;
    position: relative;
    top: 30px;
    right: 0px;
    background-color: var(--mode-bg);
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 16px 32px;
    transition-duration: .1s;
    font-family: 'Montserrat';
    font-size: 15px;
}

button#submitQuestion:hover{
    background-color: #555555;
    color: white;
    cursor: pointer;
}

#loading{
    width: 20px;
    position: relative;
    top: 5px;
    animation: spin 1s linear infinite;
    opacity: 0;
}

@keyframes spin {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

.darkMode{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}

.accountIcon{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
}

.accountInfo{
    position: absolute;
    top: 50px;
    left: -200px;
    width: 200px;
    height: calc(100% - 50px);
    /* animation: pop-in 1s forwards; */
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    align-content: start;
    border-top-right-radius: 10px;
    background-color: rgb(75,75,75,0.95);
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
}

#accountEmail,#accountUsername{
    width: 180px;
    word-wrap: break-word;
}

@keyframes pop-in {
    to{left: 0px;}
}

@keyframes pop-out {
    from{left: 0px;}
    to{left: -200px;}
}

button.accountButton{
    width: 180px;
    height: 75px;
    position: relative;
    top: 30px;
    right: 0px;
    background-color: var(--mode-bg);
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 16px 32px;
    transition-duration: .1s;
    font-family: 'Montserrat';
    font-size: 15px;
}

button.accountButton:hover{
    background-color: #555555;
    color: white;
    cursor: pointer;
}