@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

html{
    font-family: 'Rajdhani';
    text-align: center;
}

button{
    font-family: 'Rajdhani';
    font-size: 25px;
    background: gray;
    border-radius: 10px;
    border-color: darkgray;
    height: 100px;
    width: 1000px;
}

button:hover{
    border-color: gray;
}

div#results label{
    text-align: start;
}

select{
    font-family: 'Rajdhani';
}

option{
    font-family: 'Rajdhani';
}