@font-face {
    font-family: PageFont;
    src: url(./assets/font/Rajdhani-Regular.ttf);
}

html{
    font-family: PageFont;
}

button{
    font-family: PageFont;
    font-size: 25px;
    background: gray;
    border-radius: 10px;
    border-color: darkgray;
    height: 100px;
    width: 1000px;
}

button:hover{
    border-color: gray;
}

div#results label{
    text-align: start;
}

div#results p{
    text-align: start;
}

p{
    text-align: center;
}