@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    font-family: 'Montserrat';
    text-align: center;
    --mode-bg: #FFFFFF;
    --mode-text: black;
    color: var(--mode-text);
    background-color: var(--mode-bg);
}

input{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition-duration: .1s;
    width: 250px;
    background-color: var(--mode-bg);
    color: var(--mode-text);
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 16px 32px;
    font-family: 'Montserrat';
    font-size: 16px;
}

input:hover{
    background-color: #555555;
    color: white;
}

input:focus{
    background-color: #555555;
    color: white;
}

input::placeholder{
    color: var(--mode-text);
    transition-duration: .1s;
}

input:hover::placeholder{
    color: white;
}

input:focus::placeholder{
    color: white;
}

input#username{
    transform: translate(-50%,10%);
}

input#email{
    transform: translate(-50%,-210%);
}
input#password{
    transform: translate(-50%,-100%);
}

input#otp{
    transform: translate(-50%,10%);
}

button{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,120%);
    background-color: var(--mode-bg);
    color: var(--mode-text);
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 16px 32px;
    transition-duration: .1s;
    font-family: 'Montserrat';
    font-size: 16px;
}

button:hover{
    background-color: #555555;
    color: white;
    cursor: pointer;
}

.darkMode{
    position: absolute;
    top: 10px;
    right: 1%;
    width: 30px;
}